.footer {
  margin: auto;
}

.footer__copyright {
  margin: 0;
  padding: 60px;
  font-size: 16px;
  color: #333;
  max-width: 105px;
  margin: 0 auto;
  line-height: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
